* {
    margin: 0;
    padding: 0;
}
body{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
@font-face {
    font-family: "Open Sans";
    src: url("../assets/fonts/OpenSans-Light.ttf") format("ttf");
}
/* -------- Header -------*/
header{
    height: 80vh;
    width: 100%;
    background-image: url("../assets/images/mastehead.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.box-logo {
    padding: 1%;
    display: flex;
    align-items: center;
}
.box-logo img {
    width: 8%;
    padding: 2%;
}
.box-logo h1{
    font-size: 1.3em;
    color: #ffffff;
    font-style: italic;
    font-weight: lighter;
}
.box-description-header{
    height: 68vh;
    display: flex;
    color: #ffffff;
    justify-content: flex-end;
    flex-direction: column;
    padding: 10%;
    box-sizing: border-box;
}
.box-description-header h1{
    font-size: 2.5rem;
    line-height: 1.1em;
    font-weight: lighter;
    color: #ffffff;
}
.box-description-header p{
    width: 40vw;
    font-size: 0.6rem;
    line-height: 1.5em;
    color: #ffffff;
    padding-top: 5%;
}
/*.box-iphone img*/

/* ------------  Main -----------*/
/* -- Section box-presentation --*/
.box-presentation{
    margin: 12%;
    line-height: 1em;
    font-weight: lighter;
    color: #747474; 
}
.box-presentation h2{
    font-size: 1.6rem;
    font-weight: lighter;
    color: #747474;
    margin-bottom: 8%;
}
.box-presentation p{
    font-size: 0.7em;
}
.box-startmore{
    margin-top: 5%;
}
.box-features {
    margin: 8%;
    line-height: 1em;
    font-weight: lighter;
    color: #ffffff; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-features h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 8%;
}
.box-features p {
    font-size: 0.7em;
    font-weight: lighter;
    margin: 8%;
}
.box-features a:link {
    font-size: 0.8em;
    font-weight: bold;
    color: #ffffff;
    text-decoration:none;
    margin-left: 8%;
}
.box-quality{ 
    width: 100%;
    height: 24vh;
    background-color: #FBABAE;
}
.box-built {
    width: 100%;
    height: 24vh;
    background-color: #747391;
}
.box-clients {
    width: 100%;
    height: 24vh;
    background-image: url("../assets/images/box-bg.jpg");
}
.box-signup {
    width: 100%;
    height: 24vh;
    background-image: url("../assets/images/box-bg-lg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.box-pictures {
    width: 100%;
    height: 24vh;
    background-color: #8FD1AE;
}
.link {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    color: #ffffff;
}
.link img{
    height: 2vh;
    margin-left: 2%;
    color: #ffffff;
}
/* -- Section box-details --*/
.box-details {
    margin: 12%;
    line-height: 1em;
    font-weight: lighter;
}
.box-details h2 {
    font-size: 1.6rem;
    font-weight: lighter;
    color: #747474;
}
.box-based {
    margin-top: 12%;
}
.box-based h3 {
    margin-top: 10%;
    font-size: 0.8rem;
    color: #747474;
}
.box-based p {
    margin-top: 8%;
    font-size: 0.6rem;
    line-height: 1.5em;
    color: #747474;
}
.box-perform {
    margin-top: 10%;
}
.box-perform h3 {
    margin-top: 10%;
    font-size: 0.8rem;
    color: #747474;
}
.box-perform p {
    margin-top: 8%;
    font-size: 0.6rem;
    line-height: 1.5em;
    color: #747474;
}
.box-cultural {
    margin-top: 10%;
}
.box-cultural h3 {
    margin-top: 10%;
    margin-top: 10%;
    font-size: 0.8rem;
    color: #747474;
}
.box-cultural p {
    margin-top: 8%;
    font-size: 0.6rem;
    line-height: 1.5em;
    color: #747474;
}
.box-sustainability {
    margin-top: 10%;
}
.box-sustainability h3 {
    margin-top: 10%;
    margin-top: 10%;
    font-size: 0.8rem;
    color: #747474;
}
.box-sustainability p {
    margin-top: 8%;
    font-size: 0.6rem;
    line-height: 1.5em;
    color: #747474;
}
/* -------- Box-options -------- */
.box-options {
    height: 75vh;
    width: 100%;
    background-image: url("../assets/images/full-image.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}
.box-options h1 {
    width: 30vh;
    font-size: 2rem;
    font-weight: lighter;
    color: #ffffff;
    padding-top: 30%;
    padding-left: 10%;
}
.box-options p {
    font-size: 0.6rem;
    line-height: 1.6em;
    font-weight: lighter;
    color: #ffffff;
    padding-top: 5%;
    padding-left: 10%;
}
/* ajouter href et icone */

.box-reasons {
    line-height: 1em;
    font-weight: lighter;
    background-color: #8FD1AE;
    padding-top: 20%;
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 25%;
}
.box-reasons h2 {
    font-size: 1.6rem;
    font-weight: lighter;
    color: #ffffff;
}
.box-based {
    margin-top: 12%;
}
.box-based h3 {
    margin-top: 10%;
    font-size: 0.8rem;
    color: #ffffff;
}
.box-based p {
    margin-top: 8%;
    font-size: 0.6rem;
    line-height: 1.5em;
    color: #ffffff;
}
.box-login {
    margin-top: 12%;
}
.box-login h3 {
    margin-top: 10%;
    font-size: 0.8rem;
    color: #ffffff;
}
.box-login p {
    margin-top: 8%;
    font-size: 0.6rem;
    line-height: 1.5em;
    color: #ffffff;
}
.box-support {
    margin-top: 12%;
}
.box-support h3 {
    margin-top: 10%;
    font-size: 0.8rem;
    color: #ffffff;
}
.box-support p {
    margin-top: 8%;
    font-size: 0.6rem;
    line-height: 1.5em;
    color: #ffffff;
}



















/* -------- FOOTER -------- */
footer {
    height: 80vh;
    width: 100%;
    background-color: #1F3040;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}
.box-nav-footer {
    display: flex;
    margin-top: 8%;
    margin-bottom: 5%;
}
.box-description {
    margin: 10%;
    display: flex;
    flex-direction: column;
}
.box-description h4{
    font-size: 0.8em;
    color: #ffffff;
    margin-top: 5%; 
}
.box-description p {
    font-size: 0.7em;
    line-height: 1.4em;
    color: #ffffff;
    margin-top: 5%; 
}
.box-resources {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5%;
}
.box-resources h4 {
    font-size: 0.8em;
    color: #ffffff;
    margin-top: 5%;
    margin-bottom: 10%;
}
footer a:link {
    font-size: 0.7em;
    color: #ffffff;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
.box-nav {
    
    flex-direction: column;
    margin-top: 5%;
}
.box-nav h4{
    font-size: 0.8em;
    color: #ffffff;
    margin-top: 5%;
    margin-bottom: 10%;
}
.box-nav a:link {
    font-size: 0.7em;
    color: #ffffff;
    text-decoration: none;
    flex-direction: column;
    align-items: left;
    margin-top: 5%;
}
.box-mail {
    margin-left: 10%;
    margin-right: 10%;
}
.box-mail h4 {
    font-size: 0.8em;
    color: #ffffff;
}
.box-mail p{
    font-size: 0.7em;
    color: #747474;
    flex-direction: column;
    align-items: left;
    margin-top: 5%;
}
.box-mail form{
    width: 85%;
    background-color: #ffffff;
    margin-top: 5%;
}
/*  #1F3040 color bouton most popular  */