@media only screen and (min-device-width : 768px){
    /* -------- Header 1-------*/
    .box-description-header{
        height: 58vh;
    }
    .box-description-header h1{
        font-size: 3.5rem;
    }
    .box-description-header p{
        font-size: 0.8em;
        line-height: 1.8em;
    }
    /* ------------  Main -----------*/
    /* ------------  box-presentation 2-----------*/
    .box-presentation {
        margin-top: 10%;
        margin-left: 12%;
        margin-right: 12%;
    }
    .box-presentation h2 {
        font-size: 2.5rem;
    }
    .box-start {
        display: flex;
        flex-direction: row;s
    }
    .box-start-1 {
        width: 50%;
    }
    .box-start-2{
        width: 50%;
    }
    .box-start-1 p {
        font-size: 0.8em;
        margin:0 %;
        padding-right 5%;
    }
    .box-start-2 p {
        font-size: 0.8em;
        margin-top: 50%;
        padding-left: 5%;
    }
    /* ------------  box-startmore 3-----------*/
    .box-features {
        margin-left: 20%;
        margin-right: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .box-quality {
        width: 50%;
    }
    .box-built {
        width: 50%;
    }
    .box-clients {
        width: 50%; 
    }
    .box-signup {
        width: 50%;
    }
    .box-pictures {
        width: 100%;
    }
    /* ------------  box-details 4 -----------*/
    .box-details h2{
        font-size: 2rem;
        }
    .box-details h3{
        font-size: 1rem;
    }
    .box-details .box-details-full-1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .box-details .box-details-full-2{
        display: flex;
        flex-direction: row;
    }
    .box-web-based {
        margin-top: 5%;
    }
     .box-web-based p{
        margin-top: 5%;
        width: 80%;
    }
    .box-perform {
        margin-top: 5%;

    }
    .box-perform p {
        width: 80%;

    }
    .box-cultural {
        margin-top: 5%;

    }
    .box-cultural p {
        width: 80%;

    }
    .box-sustainability {
        margin-top: 5%;
    }
    .box-sustainability p{
        width: 80%;
    }
    /* ------------  box-options 5 -----------*/
    .box-options {
        height: 70vh;
        margin-top: 20%;
    }
    .box-options h1 {
        width: 30%;
        font-size: 3rem;
        padding-top: 15%;
    }
    .box-options p {
        width: 40%;
        font-size: 1rem;
    }
    .box-options a:link {
        font-size: 1rem;
    }
    /* ------------  box-reasons 6 -----------*/
    .box-reasons {
        padding-top: 15%;
        padding-bottom: 15%;
    }
    .box-reasons h2 {
        font-size: 2.5rem;
    }
    .box-reasons .box-reasons-full {
        display: flex;
        flex-direction: row;
    }
    .box-reasons .box-reasons-full h3{
        font-size: 1rem;
    }
    .box-reasons .box-reasons-full p{
        font-size: 0.8rem;
    }
    /* ------------  box-offres 7 -----------*/
    .box-offres {
        display: flex;
        flex-direction: row;
    }
    .box-offres h2{
        font-size: 1.4rem;
    }
    .box-offres p{
        font-size: 0.8rem;
    }
    .box-solo .button-offre-solo {
        margin-top: 0%;
    }
    .box-solo {
        width: 65%;
    }
    .box-plan {
        width: 65%;
        margin-top: 0%;
    }
    .box-plan .button-offre-plan {
        margin-top: 0%;
    }
    .box-plan h2 {
        margin-top: 10%;
    }
    .box-solo img {
        height: 3vh;
        margin-top: 10%;
    }
    .box-plan img {
        height: 3vh;
        margin-top: 10%;
    }
    .box-solo{
        padding-right: 10%;
    }
    .box-plan{
        padding-left: 10%;
    }
    /* -------- FOOTER 8-------- */
    footer {
        height: 58vh;
    }
    .box-description h4{
        font-size: 0.8em;
        margin-top: 0%;
    }
    .box-description p{
        font-size: 0.7em;
        margin-top: 2%;
    }
    .box-mail {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .box-mail p{
        font-size: 0.7em;
        text-align: left;
    }
    .box-nav-footer {
        display: flex;
        margin-top: 10%;
    }
    .box-resources {
        margin-top: 0%;
    }
    .box-nav {
        margin-top: 0%;
    }
    .box-nav-footer h4{
        font-size: 0.7em;
    }
    .box-nav-footer a:link{
        font-size: 0.7em;
    }
        .box-mail form{
        width: 100%;
        background-color: #ffffff;
    }
}